# Dependencies
node_modules/
.pnpm-store/

# Production builds
.next/
out/
dist/
build/

# Environment files
.env*

# Logs
*.log
npm-debug.log*

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Cache
.eslintcache
.parcel-cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
